.anim_btn {
  box-shadow: 10px 20px 20px rgb(223, 223, 240);
}

.anim_button {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid white;
  border-radius: 1000px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.15);
  transition: 0.5s all ease-in-out;
}
.anim_button:hover {
  cursor: pointer;
  background: white;
  color: #1f4141;
}
.anim_button_float {
  animation: float 1s linear alternate infinite;
}

@keyframes float {
	50% {
    transform: translateY(-px);
  }
  100% {
    transform: translateY(-20px);
  }
}