.anim_btn {
  box-shadow: 10px 20px 20px rgb(223, 223, 240);
}

.header{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.anim_button {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid white;
  border-radius: 1000px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.15);
  transition: 0.5s all ease-in-out;
}
.anim_button:hover {
  cursor: pointer;
  background: white;
  color: #1f4141;
}
.anim_button_float {
  animation: float 0.8s linear alternate infinite;
}

@keyframes float {
	50% {
    transform: translateY(-px);
  }
  100% {
    transform: translateY(-12px);
  }
}
@media (max-width: 1200px) {
  .project_wrap .nav_gap{
    column-gap: 1.2rem;
  }
}
